body { 
  background-color: slateblue;
}
/*#523525 brown background*/
/*old background color: 4e53a5 | old text color: skyblue. */
p { 
    color: #d3cabe;
    font-family: "Open Sans", sans-serif;
}

b { 
  color: cornflowerblue;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
