body {
  background-color: #202020;
}
/*#523525 brown background*/
/*old background color: slateblue | old text color: fffbf5  | bold text color: cornflowerblue*/
p { 
    color: #e3cdb2;
    font-family: "Open Sans", sans-serif;
}

b { 
  color: #91170c;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
